body {
    height: 100%;
    width:100%;
}

body.background{
    margin: 0;
    padding: 0;
    height: 0 auto;
    width: 100px;
}

.hourbar {
    border-width: 10px;
    border-color: rgb(160,225,245);
    background-color: #237228;
}

.menubar {
    border-width: 10px;
    border-color: rgb(160,225,245);
    background-color: #237228;
}

.venuebar {
    border-width: 10px;
    border-color: rgb(160,225,245);
    background-color: #237228;
}

#map {
    height: 30%;
}

form {
    color: rgb(64, 24, 87);
}

.form-inline {
    color: rgb(160, 225, 245);
}
.info {
    color: rgb(64, 24, 87);
}

h1 {
    font-size: 80px;
    font-family: 'Kaushan Script', cursive;
    color: white;
    font-weight: 700px;
    text-align: center;
    margin-top: .5rem;
    margin-bottom: .1rem;
    line-height: 1.1;
}

.box {
    height: 500px;
    overflow: scroll;
    border: 15px solid #237228;
    border-radius: 25px;
}

.box::-webkit-scrollbar {
    width: 7px;
}

.box::-webkit-scrollbar-thumb {
    background: transparent; 
    border-radius: 5px;
}

.navcard {
    border: 5px solid #237228;
    border-radius: 25px;
    padding: 5px;
    width: 100%;
    background-color: red;
    margin: 3px;
}

p{
    color:white;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

h2 {
    font-size: 200%;
    font-family: 'Kaushan Script', cursive;
    color: white;
}

h5 {
    color:white;
    text-align: center;
    font-style: italic;
    font-size: 150%;
    font-family: 'Kaushan Script', cursive;
}


.navbar{
    height: auto;
    width:  auto;
    color: transparent;
    background-color: transparent;
   }
.navbar-brand{
    background-color: transparent;
    color: transparent;
}


.btn.btn.btn.btn-secondary:hover{background-color: #237228;}
.btn.btn.btn.btn-secondary:hover{color: white;}
.btn.btn-secondary {
    color: white;
    font-weight: bold;
    background-color:red;
    border-color: #237228;
    border-spacing: 3px 3px;
    margin: 0 auto;
    width: 0 auto;
    margin-left: 114px;
    margin-right: 124px;
}

a.dropdown-item {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color:  #237228;
    font-weight: bold;
    text-align: inherit;
    white-space: nowrap;
    background-color:white;
    border-spacing: 3px 3px;
}

.dropdown-menu{
    margin: 0 auto;
    width: 0 auto;
    margin-left: 114px;
}

.description {
    text-align: center;
    color:  rgb(160,225,245);
    font-weight: bold;
    margin-left: 50px;
    margin-right: 50px;
   }


.btn.btn-outline-success:hover{background-color: #237228;}
.btn.btn-outline-success:hover{color: white;} 

.btn.btn-outline-success{
background-color: red;
color:  white;
font-weight: bold;
}

.form-control.mr-sm-2:hover{background-color: lemonchiffon;}
.form-contrl.mr-sm-2:hover{color: rgb(64, 24, 87);}

.form-contrl.mr-sm-2{
  background-color: rgb(64, 24, 87);
  color: rgb(160, 225, 245);
  font-weight: bold;
  margin: 0 auto;
  width: 100px;
}
 
.search.form-contrl.mr-sm-2:hover{ background-color:tomato;}
.search.form-contrl.mr-sm-2:hover{color: rgb(64, 24, 87);}

.search.form-contrl.mr-sm-2{
background-color: rgb(64, 24, 87);
color: rgb(64, 24, 87);
font-weight: bold;
}

nav.navbar.navbar-light.bg-light {
    background-color: rgb(64,24,87);
    color: transparent;
    margin-left: 250px;
    margin-right: 250px;
}



.col-md-6.info{
    color: #237228;
}
.bimg{
    background-color: transparent;
    color: transparent;
}

.h4{
    font-family: 'Eater', cursive;
}

.container-fluid{
    background-color: transparent;
}

button.userchoices {

    display: -ms-inline-grid;
    padding: 10px;
    min-width: 15rem;
    border-spacing: 3px 3px;
    justify-content: 50px;
    height: 10%;
    width: 100%;
    font-family: "kaushan script";
    font-size: 200%;
    margin: 10px;
    border-width: 10px;
    border-color: rgb(160,225,245);
    background-color: #237228;
    color: white;
   
}

img.userChoice-map{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    height: 100%;
    width: 90%;
}

.zipcode.form-contrl.mr-sm-2{
    background-color:transparent;
}

.store-image{
    vertical-align: middle;
    height: 100%;
    width: 100%;
}

.a:hover{color: black;}
.a {
    color: black;
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .body .container-fluid .h1 {
        height: 100%;
        width:100%;
        padding-right: 50px;
    }
}
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .body .container-fluid .h1 {
        height: 100%;
        width:100%;
        padding-right: 50px;
    }
}
/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .body .container-fluid .h1 {
        height: 100%;
        width:100%;
    }
}